body {
  background: url(../public/img/app-b1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: slide 20s infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* @keyframes slide {
  0% {
    background: url(../public/img/b1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  25% {
    background: url(../public/img/b2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  50% {
    background: url(../public/img/b3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  75% {
    background: url(../public/img/b4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
} */
