/* .cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
} */

/* .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
} */

.title {
  font-size: 2rem;
  margin: 0 0 0.5rem;
  width: 100%;
}

.body {
  font-size: 1rem;
  margin: 0 0 0.5rem;
  width: 100%;
}

.actions {
  text-align: right;
}

.actions button {
  /* font: inherit; */
  cursor: pointer;
  background-color: #ff5804;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #ff0146;
}

/* .actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
} */
