.open-form-button {
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  background: #ff5804;
  font-size: 2rem;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.open-form-button:hover {
  background: #ff0146;
}

.list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.7);
  height: auto;
  width: 100%;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.reminders-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.ul {
  /* width: 100%; */
  padding: 0 5%;
  margin-top: 0;
}

.loading-background {
  background-color: white;
  color: #ff5804;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loading {
  font-size: 5rem;
  color: #ff5804;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ff5804;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.search-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 1.3rem 0 0;
  padding: 0;
  width: 50%;
}

.search {
  width: 100%;
  margin: 0;
  height: 40px;
  color: #131313;
  font-size: 1.2rem;
  /* border-width: 1px; */
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 0 5px;
  background: #edf3f3;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 8px;
}

/* .search:focus {
  /* border-radius: 3px 7px 7px 3px; */
/* border-left: 5px solid #518679; */
/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
/* } */

@media only screen and (max-width: 500px) {
  .search-wrapper {
    width: 80%;
  }
}
