.login-card {
  height: auto;
  width: 360px;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-hello {
  text-align: center;
  padding: 0 0 0 0;
  margin: 0.2rem 0 0 0;
  font-size: 2.5rem;
  color: #518679;
}

.sign-up-div {
  display: flex;
  width: 75%;
  flex-direction: column;
  padding-bottom: 2rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 303px) {
  .sign-up-div {
    margin-top: 3%;
    /* padding-bottom: 5%; */
  }
}

.sign-up {
  /* width: 70%; */
  border: 1px solid #000;
  outline: none;
  height: 40px;
  background: transparent;
  font-size: 18px;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.sign-up:hover {
  border: none;
  background: #518679;
  color: white;
}

@media only screen and (max-width: 600px) {
  .login-card {
    width: 80vw;
  }
}

.logo {
  font-family: "Fugaz One", cursive;
  transform: rotate(-3deg);
  font-size: 1.3rem;
}

.span {
  font-family: "Fugaz One", cursive;
  text-decoration: underline #ff5804;
}
